<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=localhost; database=odm25erzosmntr; user id=root; password=00100;charset='latin5'; "
      providerName="MySql.Data.SqlClient" />
    <add name="ConnStr1" connectionString="server=50.62.209.18;User Id=osmanclktr;database=erzrmprtl25tr;password=Ser@25tr@Dizayn;charset='latin5'; "
      providerName="MySql.Data.SqlClient" />
    <add name="ODM.Properties.Settings.odm25erzosmntrConnectionString"
      connectionString="server=localhost;user id=root;database=odm25erzosmntr"
      providerName="MySql.Data.MySqlClient" />
    <add name="ODM.Properties.Settings.odm25erzosmntrConnectionString1"
      connectionString="server=localhost;user id=root;password=00100;database=odm25erzosmntr"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AForge.Imaging" publicKeyToken="ba8ddea9676ca48b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AktifSinavSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://erzurumodm.meb.gov.tr/WebServ/AktifSinav.asmx"
        binding="basicHttpBinding" bindingConfiguration="AktifSinavSoap"
        contract="AktifSinavServisRef.AktifSinavSoap" name="AktifSinavSoap" />
    </client>
  </system.serviceModel>
</configuration>
