@model System.Threading.Tasks.Task<IEnumerable<ErzurumOdmMvc.Entities.Sinav>>

<table class="table table-bordered table-hover table-head-fixed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sınav Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result.OrderByDescending(x => x.SinavAdi))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.SinavAdi</td>
                <td class="text-right">
                    <a title="Düzenle" data-toggle="modal" data-target="#modalDuzenleSinav" data-id="@item.Id" class="btn btn-info btn-sm" href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a class="btn btn-danger btn-sm" href="#" onclick="Sil(@item.Id);return false;"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

