@{
    ViewBag.Title = "Sınavlar";
}
@section HeaderSection
{
    <link rel="stylesheet" href="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.css">
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="modal" data-target="#modalYeniSinav" class="btn btn-primary float-right mb-2"><i class="fa fa-code-branch mr-2"></i> Yeni Sınav</a>
                            <h3 class="card-title">Sınavlar</h3>
                        </div>
                        <div class="card-body" id="sinavlar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modalYeniSinav">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Sınav Kayıt Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="yeniSinav">Sınav Adı</label>
                    <input type="text" class="form-control" id="yeniSinav" name="yeniSinav" placeholder="Sınav adı">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="modal-btn-sinav-kaydet"><i id="kloading"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDuzenleSinav">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sınav Düzenleme Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="duzenleSinav">Sınav Adı</label>
                    <input type="text" class="form-control" id="duzenleSinav" name="duzenleSinav" placeholder="Sınav adı">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="modal-btn-sinav-duzenle"><i id="dloading"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section FooterScript
{
    <script src="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(document).ready(function () {
            $("#sinavlar").load("/ODM/Sinav/Sinavlar");
        });
        var sinavId = 0;

        $('#modalDuzenleSinav').on('show.bs.modal',
            function (event) {
                sinavId = $(event.relatedTarget).data('id');
                console.log(sinavId);
                $.ajax(
                    {
                        type: "POST",
                        url: "/ODM/Sinav/Getir/"+sinavId,
                        data: "",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                            if (data.Sonuc) {

                                $("#duzenleSinav").val(data.SinavInfo.SinavAdi);

                            } else {

                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Hata",
                                    timer: 3000
                                });
                            }
                        },

                        error: function (data) {
                            Swal.fire({
                                icon: 'error',
                                title: data.Mesaj+"Hata",
                                showConfirmButton: true,
                                confirmButtonText: "Hata",
                                timer: 3000
                            });
                        }
                    });
            });

        $("#modal-btn-sinav-kaydet").unbind().on("click",
            function () {

                var sinav = $("#yeniSinav").val();
                if (sinav === "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Sınav adını girmediniz.',
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                }
                else {
                    $("#modal-btn-sinav-kaydet").prop('disabled', true);
                    $("#kloading").addClass("hidden");


                    var SinavAjax = {
                        SinavAdi: sinav
                    };

                    $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Sinav/Yeni",
                            data: JSON.stringify(SinavAjax),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                if (data.Sonuc) {

                                    //başarılı ise
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });
                                    $("#sinavlar").load("/ODM/Sinav/Sinavlar");

                                    $("#modal-btn-sinav-kaydet").prop('disabled', false);
                                    $("#kloading").removeClass("hidden");

                                    $("#yeniSinav").val("");

                                    $("#modalYeniSinav").modal("hide");

                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Hata",
                                        timer: 3000
                                    });
                                    $("#modal-btn-sinav-kaydet").prop('disabled', false);
                                    $("#kloading").removeClass("hidden");
                                }
                            },

                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Hata",
                                    timer: 3000
                                });
                                $("#modal-btn-sinav-kaydet").prop('disabled', false);
                                $("#kloading").removeClass("hidden");
                            }
                        });
                }
            });

        $("#modal-btn-sinav-duzenle").unbind().on("click",
            function () {

                var duzenleSinav = $("#duzenleSinav").val();
                if (duzenleSinav === "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Sınav adını girmediniz.',
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                }
                else {
                    $("#modal-btn-sinav-duzenle").prop('disabled', true);
                    $("#dloading").addClass("hidden");


                    var SinavAjax = {
                        SinavAdi: duzenleSinav,
                        Id:sinavId
                    };

                    $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Sinav/Duzenle",
                            data: JSON.stringify(SinavAjax),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                if (data.Sonuc) {

                                    //başarılı ise
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });
                                    $("#sinavlar").load("/ODM/Sinav/Sinavlar");

                                    $("#modal-btn-sinav-duzenle").prop('disabled', false);
                                    $("#dloading").removeClass("hidden");

                                    $("#duzenleSinav").val("");

                                    $("#modalDuzenleSinav").modal("hide");

                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Hata",
                                        timer: 3000
                                    });
                                    $("#modal-btn-sinav-duzenle").prop('disabled', false);
                                    $("#dloading").removeClass("hidden");
                                }
                            },

                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Hata",
                                    timer: 3000
                                });
                                $("#modal-btn-sinav-duzenle").prop('disabled', false);
                                $("#dloading").removeClass("hidden");
                            }
                        });
                }
            });

        function Sil(e) {
            Swal.fire({
                title: 'Silmek istiyor musunuz?',
                text: "Silmek istediğinizden emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet Sil',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "/ODM/Sinav/Sil/" + e,
                        success: function(data) {
                            if (data.Sonuc) {
                                Swal.fire({
                                    icon: 'success',
                                    title:'Silindi!',
                                    text: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Tamam"
                                });
                                $("#sinavlar").load("/ODM/Sinav/Sinavlar");
                            } else {
                                Swal.fire({
                                    icon: 'warning',
                                    title:'Silinemedi!',
                                    text: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Tamam"
                                });
                            }
                        },
                        eror: function(data) {
                            Swal.fire({
                                icon: 'error',
                                title:'Hata oluştu!',
                                text: data.Mesaj,
                                showConfirmButton: true,
                                confirmButtonText: "Tamam"
                            });
                        }
                    });
                }
            });
        }
    </script>
}
