@using ErzurumOdmMvc.Common.Enums
@using ErzurumOdmMvc.Entities
@using ErzurumOdmMvc.Library

@{
   SiteAyar ayar = CacheHelper.SiteAyarFromChache();
    ViewBag.Title = "Hoş Geldiniz";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> @ViewBag.Title </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">@ayar.SiteAdi</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                <em>
                                    <strong>
                                        @CurrentSession.Kullanici.AdiSoyadi,
                                    </strong>
                                </em>
                            </p>
                            <p class="card-text">
                                Erzurum Ölçme Değerlendirme Merkezi aracılığıyla yapılan sınav izleme-değerlendirme modülüne hoş geldiniz.
                            </p>
                            <p>
                                Bu modül aracılığıyla aşağıdaki listelenen başlıklarda yetkiniz bulunmaktadır.
                            </p>
                            <ul>
                                @{//Root,Admin,IlceMEMYetkilisi,OkulYetkilisi,Ogretmen,SoruYazari,LgsYazari,LgsIlKomisyonu
                                    string[] yetkiler = CurrentSession.Kullanici.Yetki.Split('|');
                                    foreach (var s in yetkiler)
                                    {
                                        if (!string.IsNullOrEmpty(s))
                                        {
                                            <li>@Yetki.Getir(s)</li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0"> İletişim Bilgilerimiz</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>ÖLÇME DEĞERLENDİRME MERKEZİ</strong></p>
                            <p><strong>Adres : </strong> Yukarı Mumcu Cad. Atatürk Evi Sok. No:1 Kat:5-6 Yakutiye/Erzurum</p>
                            <p><strong>Tlf :</strong></p>
                            <p><strong>E-posta:</strong> odm25@meb.gov.tr</p>
                            <p><strong>EKİP ÜYELERİ İLETİŞİM BİLGİLERİ</strong></p>

                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th>İsim</th>
                                        <th>E-Mail</th>
                                        <th>Telefon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td>Abdulkerim Adıgüzel</td>
                                        <td>kerimadiguzel25@gmail.com</td>
                                        <td>0 506 587 16 81</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td>Abdusselam Koçak</td>
                                        <td>aselam_25@hotmail.com</td>
                                        <td>0 535 888 67 90</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>M. Said Adıyaman</td>
                                        <td>msaitadiyaman@gmail.com</td>
                                        <td>0 536 273 5187	</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td>Murat Ömer Yeşiloğlu</td>
                                        <td>muratomeryesiloglu@hotmail.com</td>
                                        <td>0 543 268 8597</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>Mustafa Uğurlu	</td>
                                        <td>m.ugurlu87@gmail.com</td>
                                        <td>0 536 667 5602	</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td>Osman Çelik	</td>
                                        <td>osmanceliktr@gmail.com</td>
                                        <td>0 554 115 8818	</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
