@{
    ViewBag.Title = "Branşlar";
}
@section HeaderSection
{
    <link rel="stylesheet" href="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.css">
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="modal" data-target="#modalYeniBrans" class="btn btn-primary float-right mb-2"><i class="fa fa-code-branch mr-2"></i> Yeni Branş</a>
                            <h3 class="card-title">Branşlar</h3>

                        </div>
                        <div class="card-body" id="branslar">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modalYeniBrans">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Branş Kayıt Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="yeniBrans">Branş</label>
                    <input type="text" class="form-control" id="yeniBrans" name="yeniBrans" placeholder="Branş adı">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="modal-btn-brans-kaydet"><i id="kloading"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDuzenleBrans">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Branş Düzenleme Formu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="duzenleBrans">Branş</label>
                    <input type="text" class="form-control" id="duzenleBrans" name="duzenleBrans" placeholder="Branş adı">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="modal-btn-brans-duzenle"><i id="dloading"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section FooterScript
{
    <script src="~/Areas/ODM/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#branslar").load("/ODM/Brans/Branslar");
        });
        var bransId = 0;

        $('#modalDuzenleBrans').on('show.bs.modal',
            function (event) {
                bransId = $(event.relatedTarget).data('id');

                $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Brans/Getir/"+bransId,
                            data: "",
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                if (data.Sonuc) {

                                    $("#duzenleBrans").val(data.BransInfo.BransAdi);
                                    
                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Hata",
                                        timer: 3000
                                    });
                                }
                            },

                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Hata",
                                    timer: 3000
                                });
                            }
                        });
            });

        $("#modal-btn-brans-kaydet").unbind().on("click",
            function () {

                var brans = $("#yeniBrans").val();
                if (brans === "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Branş adını girmediniz.',
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                }
                else {
                    $("#modal-btn-brans-kaydet").prop('disabled', true);
                    $("#kloading").addClass("hidden");

                    
                    var BransAjax = {
                        BransAdi: brans
                    };

                    $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Brans/Yeni",
                            data: JSON.stringify(BransAjax),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                if (data.Sonuc) {

                                    //başarılı ise
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });
                                    $("#branslar").load("/ODM/Brans/Branslar");

                                    $("#modal-btn-brans-kaydet").prop('disabled', false);
                                    $("#kloading").removeClass("hidden");

                                    $("#yeniBrans").val("");
                                   
                                    $("#modalYeniBrans").modal("hide");

                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Hata",
                                        timer: 3000
                                    });
                                    $("#modal-btn-brans-kaydet").prop('disabled', false);
                                    $("#kloading").removeClass("hidden");
                                }
                            },

                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Hata",
                                    timer: 3000
                                });
                                $("#modal-btn-brans-kaydet").prop('disabled', false);
                                $("#kloading").removeClass("hidden");
                            }
                        });
                }
            });

          $("#modal-btn-brans-duzenle").unbind().on("click",
            function () {

                var duzenleBrans = $("#duzenleBrans").val();
               if (duzenleBrans === "") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Branş adını girmediniz.',
                        showConfirmButton: true,
                        confirmButtonText: "Tamam",
                        timer: 3000
                    });
                }
                 else {
                    $("#modal-btn-brans-duzenle").prop('disabled', true);
                    $("#dloading").addClass("hidden");

                   
                    var BransAjax = {
                        BransAdi: duzenleBrans,
                       Id:bransId
                    };

                    $.ajax(
                        {
                            type: "POST",
                            url: "/ODM/Brans/Duzenle",
                            data: JSON.stringify(BransAjax),
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {

                                if (data.Sonuc) {

                                    //başarılı ise
                                    Swal.fire({
                                        icon: 'success',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Tamam",
                                        timer: 3000
                                    });
                                    $("#branslar").load("/ODM/Brans/Branslar");

                                    $("#modal-btn-brans-duzenle").prop('disabled', false);
                                    $("#dloading").removeClass("hidden");

                                    $("#duzenleBrans").val("");
                                   
                                    $("#modalDuzenleBrans").modal("hide");

                                } else {

                                    Swal.fire({
                                        icon: 'error',
                                        title: data.Mesaj,
                                        showConfirmButton: true,
                                        confirmButtonText: "Hata",
                                        timer: 3000
                                    });
                                    $("#modal-btn-brans-duzenle").prop('disabled', false);
                                    $("#dloading").removeClass("hidden");
                                }
                            },

                            error: function (data) {
                                Swal.fire({
                                    icon: 'error',
                                    title: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Hata",
                                    timer: 3000
                                });
                                $("#modal-btn-brans-duzenle").prop('disabled', false);
                                $("#dloading").removeClass("hidden");
                            }
                        });
                }
            });

        function Sil(e) {
            Swal.fire({
                title: 'Silmek istiyor musunuz?',
                text: "Silmek istediğinizden emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet Sil',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "/ODM/Brans/Sil/" + e,
                        success: function(data) {
                            if (data.Sonuc) {
                                Swal.fire({
                                    icon: 'success',
                                    title:'Silindi!',
                                    text: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Tamam"
                                });
                                $("#branslar").load("/ODM/Brans/Branslar");
                            } else {
                                Swal.fire({
                                    icon: 'warning',
                                    title:'Silinemedi!',
                                    text: data.Mesaj,
                                    showConfirmButton: true,
                                    confirmButtonText: "Tamam"
                                });
                            }
                        },
                        eror: function(data) {
                            Swal.fire({
                                icon: 'error',
                                title:'Hata oluştu!',
                                text: data.Mesaj,
                                showConfirmButton: true,
                                confirmButtonText: "Tamam"
                            });
                        }
                    });
                }
            });
        }
    </script>
}
