<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=localhost; database=odm25erzosmntr; user id=root;password=00100; charset='latin5'; "
      providerName="MySql.Data.SqlClient" />
    <add name="ConnStr1" connectionString="server=mebmysql.meb.gov.tr;User Id=o2500_5R55s9Bhwa;database=o25005r55s9bhb1pw;password=u91VY3Uq;charset='latin5'; "
      providerName="MySql.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database2.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full"/>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <globalization culture="auto:tr-TR" uiCulture="auto:tr-TR"/>
    <httpModules/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" enableEventValidation="false">
      <controls/>
    </pages>
  </system.web>
</configuration>